body{
	margin: 0;
	text-align: center;
	font-family: "Merriweather";}
}
.site-logo{
	position: absolute;
	right: 300px;
	top: 50px;

}
.head-container{
	background-color: #FAF1E6;
	height: 160px;
	width: 980px;
	position: fixed;
	top: 0;
	
}



.top-container{
	
	background-color: #F0D9E7; 
	
	
	background:url(/construction.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 980px;
	margin-top: 150px;

	
}
.middle-container{
	background-color: #FDFAF6;
	position: relative;
}
.details table{
	font-family: sans-serif;
	table-layout: fixed;
			height: 200px;
			width: 100%;
			border-collapse: collapse;
			
}
.details tr{
border:1px solid #ddd;
}
 .details tr:nth-child(even){
 	background-color: #f2f2f2;
 }
.details tr:hover {
	background-color: #ddd;
}
.details td{
	text-align: center;
		
	padding: 8px;
}

.middle-container .projects{
	background-image: url(/banner2.jpg);
	height: 500px;
	width: 980px;
	background-size: 100%;
	
	background-repeat: no-repeat;
}
.projects{
	position: relative;
	top: 20px;
}
.projects span{
color: black;
background-color: white;
font-size: 4em;
text-shadow: 1px 1px 1px ;
position: absolute;
top: 350px;
left: 40px;
	background-color: white;
}
.projects:hover span{
	background-color: #ddd;
}
.vision h2{

	font-size: 2em;
}
.vision:hover span{
	background-color:  #add;
}
.bottom-container{
	height:300px;
	background-color: #5D534A;
	position: relative;
	padding-top: 30px;
}
.bottom-container h2{
	color: white;
	font-size: 2em;
	position: absolute;
	top: 10px;
	left: 10px;

}
.mailid{
	color: white;
	font-style: sans-serif;
	font-size: 1em;
	position: absolute;
	top: 100px;
	left: 10px;

}
.phone{
	color: white;
	font-style: sans-serif;
	font-size: 1em;
	position: absolute;
	top: 150px;
	left: 10px;
}
.footer-link1{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 150px;
	left: 350px;
}
.footer-link2{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 150px;
	left: 450px;
}
.footer-link3{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 150px;
	left:550px;
}
.copyright{
	color: white;
	position: absolute;
	top: 230px;
	left: 410px;
}
